  /*
    Flaticon icon font: Flaticon
    Creation date: 05/09/2016 05:29
    */

@font-face {
  font-family: "Flaticon";
  src: url("../fonts/Flaticon.eot");
  src: url("../fonts/Flaticon.eot?#iefix") format("embedded-opentype"),
       url("../fonts/Flaticon.woff") format("woff"),
       url("../fonts/Flaticon.ttf") format("truetype"),
       url("../fonts/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("../fonts/Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
font-style: normal;
}

.flaticon-animal:before { content: "\f100"; }
.flaticon-animal-1:before { content: "\f101"; }
.flaticon-animal-2:before { content: "\f102"; }
.flaticon-arrows:before { content: "\f103"; }
.flaticon-arrows-1:before { content: "\f104"; }
.flaticon-arrows-2:before { content: "\f105"; }
.flaticon-arrows-3:before { content: "\f106"; }
.flaticon-arrows-4:before { content: "\f107"; }
.flaticon-arrows-5:before { content: "\f108"; }
.flaticon-arrows-6:before { content: "\f109"; }
.flaticon-arrows-7:before { content: "\f10a"; }
.flaticon-arrows-8:before { content: "\f10b"; }
.flaticon-book:before { content: "\f10c"; }
.flaticon-business:before { content: "\f10d"; }
.flaticon-business-1:before { content: "\f10e"; }
.flaticon-business-2:before { content: "\f10f"; }
.flaticon-business-3:before { content: "\f110"; }
.flaticon-check:before { content: "\f111"; }
.flaticon-check-1:before { content: "\f112"; }
.flaticon-cinema:before { content: "\f113"; }
.flaticon-circle:before { content: "\f114"; }
.flaticon-circus:before { content: "\f115"; }
.flaticon-city:before { content: "\f116"; }
.flaticon-clock:before { content: "\f117"; }
.flaticon-clock-1:before { content: "\f118"; }
.flaticon-commerce:before { content: "\f119"; }
.flaticon-connection:before { content: "\f11a"; }
.flaticon-editing:before { content: "\f11b"; }
.flaticon-exclamation:before { content: "\f11c"; }
.flaticon-fashion:before { content: "\f11d"; }
.flaticon-favorite:before { content: "\f11e"; }
.flaticon-favorite-1:before { content: "\f11f"; }
.flaticon-food:before { content: "\f120"; }
.flaticon-food-1:before { content: "\f121"; }
.flaticon-food-3:before { content: "\f122"; }
.flaticon-food-4:before { content: "\f123"; }
.flaticon-food-5:before { content: "\f124"; }
.flaticon-foot:before { content: "\f125"; }
.flaticon-furniture:before { content: "\f126"; }
.flaticon-gps:before { content: "\f127"; }
.flaticon-gps-1:before { content: "\f128"; }
.flaticon-gps-2:before { content: "\f129"; }
.flaticon-hospital:before { content: "\f12a"; }
.flaticon-information:before { content: "\f12b"; }
.flaticon-interface:before { content: "\f12c"; }
.flaticon-interface-1:before { content: "\f12d"; }
.flaticon-interface-2:before { content: "\f12e"; }
.flaticon-location:before { content: "\f12f"; }
.flaticon-man:before { content: "\f130"; }
.flaticon-map:before { content: "\f131"; }
.flaticon-map-location:before { content: "\f132"; }
.flaticon-mark:before { content: "\f133"; }
.flaticon-medical:before { content: "\f134"; }
.flaticon-money:before { content: "\f135"; }
.flaticon-money-1:before { content: "\f136"; }
.flaticon-monuments:before { content: "\f137"; }
.flaticon-null:before { content: "\f138"; }
.flaticon-null-1:before { content: "\f139"; }
.flaticon-null-2:before { content: "\f13a"; }
.flaticon-people-1:before { content: "\f13b"; }
.flaticon-people-2:before { content: "\f13c"; }
.flaticon-people-3:before { content: "\f13d"; }
.flaticon-people-4:before { content: "\f13e"; }
.flaticon-people-5:before { content: "\f13f"; }
.flaticon-people-6:before { content: "\f140"; }
.flaticon-person:before { content: "\f141"; }
.flaticon-play:before { content: "\f142"; }
.flaticon-play-1:before { content: "\f143"; }
.flaticon-search:before { content: "\f144"; }
.flaticon-security:before { content: "\f145"; }
.flaticon-shapes:before { content: "\f146"; }
.flaticon-shapes-1:before { content: "\f147"; }
.flaticon-shapes-2:before { content: "\f148"; }
.flaticon-sign:before { content: "\f149"; }
.flaticon-sign-1:before { content: "\f14a"; }
.flaticon-sign-2:before { content: "\f14b"; }
.flaticon-social:before { content: "\f14c"; }
.flaticon-social-1:before { content: "\f14d"; }
.flaticon-social-2:before { content: "\f14e"; }
.flaticon-social-3:before { content: "\f14f"; }
.flaticon-sofa:before { content: "\f150"; }
.flaticon-sports:before { content: "\f151"; }
.flaticon-sports-1:before { content: "\f152"; }
.flaticon-square:before { content: "\f153"; }
.flaticon-square-1:before { content: "\f154"; }
.flaticon-symbol:before { content: "\f155"; }
.flaticon-target:before { content: "\f156"; }
.flaticon-technology:before { content: "\f157"; }
.flaticon-technology-2:before { content: "\f158"; }
.flaticon-technology-3:before { content: "\f159"; }
.flaticon-telephone:before { content: "\f15a"; }
.flaticon-tickets:before { content: "\f15b"; }
.flaticon-tickets-1:before { content: "\f15c"; }
.flaticon-time-1:before { content: "\f15d"; }
.flaticon-tool:before { content: "\f15e"; }
.flaticon-tool-1:before { content: "\f15f"; }
.flaticon-tool-2:before { content: "\f160"; }
.flaticon-transport:before { content: "\f161"; }
.flaticon-two:before { content: "\f162"; }
.flaticon-web:before { content: "\f163"; }
.flaticon-web-1:before { content: "\f164"; }